body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  background: linear-gradient(135deg, #78f8be 0%, #087e49 100%);
}

h1 {
  color: hotpink;
  font-family: cursive;
}

.header {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin: 5px 0px;
  color: #fff;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.header-container {
  
  /* background color as gradient starting with #ff0088 and ending with #ff8c00 */
  background: linear-gradient(180deg, #ed1689 0%, #9c155d 100%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.frame {
  margin: 20px;
  border: 2px solid #424242;
}